<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<clear/>
		<add
			name="MazinaFilm"
			connectionString="Data Source=LUKA\\SQLEXPRESS;Initial Catalog=mazinafilm;Integrated Security=True"
			providerName="System.Data.SqlClient"
		/>
	</connectionStrings>
</configuration>
